<footer>
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-md-4 d-flex justify-content-center gap-4">
                <a href="/impressum">
                    Impressum
                </a>
                <a href="/datenschutzerklaerung">
                    Datenschutzerklärung
                </a>
            </div>
            <div id="wcb" aria-label="Website Carbon Emission" class="carbonbadge wcb-d flex mt-2"></div>
            <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
        </div>
    </div>
</footer>